<a href="https://colab.research.google.com/github/zbuitrago/Trabajo-3/blob/main/Preliminar_trabajo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentos de programación para analítica de datos.**
>>**Maestría en Analítica de Datos**

>>**Facultad de Ingeniería y Ciencias Básicas.**

>>**Universidad Central  2020 - II**

>>**Presentación Trabajo 3: Calidad de los datos**


>>**Integrantes:**

> > Zuly Buitrago Castillo

> > Jennifer Prada Urbina,

> > Oscar Ochoa Bueno

>>**Contenido:**
1. Requerimiento
2. Código Implementado
3. Analisis de logico

#1.Requerimiento
#Trabajo 3 - Calidad de los datos


Se debe realizar el ejercicio grupal de la práctica desarrollada en la semana 11,
correspondiente a Calidad de los datos . A continuación se enumeran las actividades del
ejercicio que se debe realizar tomando como base el archivo examen3.xlsx (adjunto).
1. Hacer una función que crea un dataframe a partir de los atributos de los datos de
entrada examen3.xlsx , los cuales son:
a. Nombre de la columna del dataframe de entrada
b. Tipo de dato (incluido: int, float, string, datetime, boolean)
c. Tipo de variable (Continua, numérica discreta, categórica)
d. Cantidad de valores únicos
e. Cantidad de valores nulos
f. Valor que más se repite
g. Frecuencia del valor que más se repite
h. Valor máximo
i. Valor mínimo
2. Analice el tipo de dato de cada columna para saber si es el correcto. Si no lo es,
determine los valores que generan problemas y clasifique los tipos de problemas
que aparecen. Luego cree una función que corrija los valores erróneos, y finalmente,
verifique que queda el tipo correcto en cada columna. Reporte los datos que cambió.
3. Haga una gráfica de distribución univariada por cada columna. En caso de tener una
variable categórica y si la cantidad de valores únicos es menor a la raíz cuadrada de
la cantidad de registros, haga una gráfica de barras de mayor a menor de la
frecuencia de cada categoría. La gráfica con un máximo de hasta 20 barras y el
resto se agrupan en una sola barra llamada “ otras ”. Analice cada una de las gráficas.
4. Para las variables numéricas, haga un mapa de correlación y analice qué variables
tienen una fuerte relación. Luego, haga un gráfico de distribución bivariada con las
columnas que tienen una fuerte relación y use esto para deducir reglas entre las
variables.
5. Para las variables categóricas y ordinales busque relaciones de jerarquía entre las
clases. Si hay relación entre las categorías pinte un árbol mostrando esta.
Finalmente, deduzca las reglas de relación entre las variables.
6. Haga un análisis de los valores faltantes, determine si se presenta algún problema
de integridad con la ausencia de los datos. Si es así, use las reglas definidas entre
las variables para rellenar con el dato apropiado. Reporte los cambios.
7. Analice la ocurrencia de datos duplicados con todos los atributos y con las
columnas: {IDE, curso, créditos}. Evalúe si es necesario eliminar registros duplicados para mejorar la calidad de los datos, en tal caso proceda a eliminarlos y reporte las
acciones realizadas.
8. Identifique, analice y si es posible corrija valores atípicos encontrados en las
columnas. Reporte los cambios realizados.
9. Teniendo en cuenta el siguiente problema: " Analizar el desempeño de los
estudiantes en el examen y el resto del semestre, relacionado con el profesor, el
grupo, el programa académico, y la jornada " determine e indique qué filas y
columnas no son relevantes para este análisis y se pueden filtrar. Finalmente,
genere el dataframe depurado con la mejor calidad que se pudo obtener para la
tarea que se plantea en este punto.
10. Genere conclusiones acerca de todo el proceso de calidad de datos aplicado a la
base entregada. Haga una evaluación de la calidad del resultado final y haga
recomendaciones para hacer este proceso en el futuro.

#**3 .Implementación de código**

3.1 . Función de Dataframe resumen

In [1]:
import pandas as pd
df = pd.read_excel('examen3.xlsx')
df.head(2)

    IDE               programa  IDG  corte1  corte2  ...   p6   p7   p8   p9  p10
0  1521   Ingeniería Ambiental  G11     4.0     2.0  ...  0.0  0.0  0.5  0.5  0.0
1  1572  Ingeniería Industrial  G11     3.0     3.0  ...  0.5  0.0  0.5  0.0  0.5

[2 rows x 33 columns]

In [2]:
df['inicio'].values[0]
  for col in df.columns.to_list():
    attribute_df.column_names=col 
    print(attribute_df.column_names)
    #data_type= df.dtypes
    #switch 
    #print(type_data)

In [17]:
def create_attribute_df():
  df = pd.read_excel('examen3.xlsx')
  attribute_df = pd.DataFrame(columns=['column_names','data_type','variable_type','quantity_unique_values','quantity_null_values','most_repeated_value','frec_most_repeated_value','max_value','min_value'])
  for (columnname,columndata) in df.iteritems():
    
    data=get_column_data(columnname,columndata)
    # identificar el siguiente index 
    attribute_df_length=len(attribute_df)
    # asignar datos al ultimo index 
    attribute_df.loc[attribute_df_length]=data
  display(attribute_df)
  
  
  
  
  
def get_column_data(columnname,columndata): 
  attributes=[]
  # Capturar nombre de la columna
  attributes.append(columnname)
  # tipo de dato
  attributes.append(get_column_type(columndata))

  attributes.append(columnname)
  attributes.append(columnname)
  attributes.append(columnname)
  attributes.append(columnname)
  attributes.append(columnname)
  attributes.append(columnname)
  attributes.append(columnname)
  
  return attributes

def get_column_type(columndata): 
  columntype=columndata.dtypes.to_list()
  columntypef=''
  if 'int' in columntype:
    columntypef='int'
  if 'float' in columntype:
    columntypef='float'
  return columntypef


  
  
  
  
  
  
  
  #df1=['a','b','c','d','f','g','h','i','j']
  #attribute_df_length=len(attribute_df)
  #attribute_df.loc[attribute_df_length]=df1
  #attribute_df['column_names']=df.columns.to_list
#  display(attribute_df)



create_attribute_df()

AttributeError: ignored