<a href="https://colab.research.google.com/github/zbuitrago/Trabajo-3/blob/main/Preliminar_trabajo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentos de programación para analítica de datos.**
>>**Maestría en Analítica de Datos**

>>**Facultad de Ingeniería y Ciencias Básicas.**

>>**Universidad Central  2020 - II**

>>**Presentación Trabajo 3: Calidad de los datos**


>>**Integrantes:**

> > Zuly Buitrago Castillo

> > Jennifer Prada Urbina,

> > Oscar Ochoa Bueno

>>**Contenido:**
1. Requerimiento
2. Análisis lógico
3. Código Implementado

#1.Requerimiento
#Trabajo 3 - Calidad de los datos


Se debe realizar el ejercicio grupal de la práctica desarrollada en la semana 11,
correspondiente a Calidad de los datos . A continuación se enumeran las actividades del
ejercicio que se debe realizar tomando como base el archivo examen3.xlsx (adjunto).
1. Hacer una función que crea un dataframe a partir de los atributos de los datos de
entrada examen3.xlsx , los cuales son:
a. Nombre de la columna del dataframe de entrada
b. Tipo de dato (incluido: int, float, string, datetime, boolean)
c. Tipo de variable (Continua, numérica discreta, categórica)
d. Cantidad de valores únicos
e. Cantidad de valores nulos
f. Valor que más se repite
g. Frecuencia del valor que más se repite
h. Valor máximo
i. Valor mínimo
2. Analice el tipo de dato de cada columna para saber si es el correcto. Si no lo es,
determine los valores que generan problemas y clasifique los tipos de problemas
que aparecen. Luego cree una función que corrija los valores erróneos, y finalmente,
verifique que queda el tipo correcto en cada columna. Reporte los datos que cambió.
3. Haga una gráfica de distribución univariada por cada columna. En caso de tener una
variable categórica y si la cantidad de valores únicos es menor a la raíz cuadrada de
la cantidad de registros, haga una gráfica de barras de mayor a menor de la
frecuencia de cada categoría. La gráfica con un máximo de hasta 20 barras y el
resto se agrupan en una sola barra llamada “ otras ”. Analice cada una de las gráficas.
4. Para las variables numéricas, haga un mapa de correlación y analice qué variables
tienen una fuerte relación. Luego, haga un gráfico de distribución bivariada con las
columnas que tienen una fuerte relación y use esto para deducir reglas entre las
variables.
5. Para las variables categóricas y ordinales busque relaciones de jerarquía entre las
clases. Si hay relación entre las categorías pinte un árbol mostrando esta.
Finalmente, deduzca las reglas de relación entre las variables.
6. Haga un análisis de los valores faltantes, determine si se presenta algún problema
de integridad con la ausencia de los datos. Si es así, use las reglas definidas entre
las variables para rellenar con el dato apropiado. Reporte los cambios.
7. Analice la ocurrencia de datos duplicados con todos los atributos y con las
columnas: {IDE, curso, créditos}. Evalúe si es necesario eliminar registros duplicados para mejorar la calidad de los datos, en tal caso proceda a eliminarlos y reporte las
acciones realizadas.
8. Identifique, analice y si es posible corrija valores atípicos encontrados en las
columnas. Reporte los cambios realizados.
9. Teniendo en cuenta el siguiente problema: " Analizar el desempeño de los
estudiantes en el examen y el resto del semestre, relacionado con el profesor, el
grupo, el programa académico, y la jornada " determine e indique qué filas y
columnas no son relevantes para este análisis y se pueden filtrar. Finalmente,
genere el dataframe depurado con la mejor calidad que se pudo obtener para la
tarea que se plantea en este punto.
10. Genere conclusiones acerca de todo el proceso de calidad de datos aplicado a la
base entregada. Haga una evaluación de la calidad del resultado final y haga
recomendaciones para hacer este proceso en el futuro.

#**3 .Implementación de código**

3.1 . Función de Dataframe resumen

In [1]:
import pandas as pd
import numpy as np

#df = pd.read_excel('examen3.xlsx')
#df.head(12)

In [3]:
#df['inicio'].values[0]

In [65]:
def create_attribute_df():
  df = pd.read_excel('examen3.xlsx')
  fixed_df=df.copy()
  df.fallas = df.fallas.replace({'nada': 0})
  df.fallas = df.fallas.replace({'ninguna': 0})
  df.fallas = df.fallas.replace({'no': 0})
  attribute_df = pd.DataFrame(columns=['column_names','data_type','variable_type','quantity_unique_values','quantity_null_values','most_repeated_value','frec_most_repeated_value','max_value','min_value'])
  for (columnname,columndata) in df.iteritems():
    
    data=get_column_data(columnname,columndata)
    # identificar el siguiente index 
    attribute_df_length=len(attribute_df)
    # asignar datos al ultimo index 
    attribute_df.loc[attribute_df_length]=data
  display(attribute_df)
  
  
  
  
  
def get_column_data(columnname,columndata): 
  attributes=[]
  # Capturar nombre de la columna
  attributes.append(columnname)
  # tipo de dato
  attributes.append(get_column_type(columndata))
  # tipo de variable
  attributes.append(get_varible_type(get_column_type(columndata)))
  # Valores unicos
  attributes.append(len(columndata.unique()))
  # Valores nulos
  attributes.append(len(columndata[columndata.isnull()]))
  # Valor que mas se repite
  attributes.append(columndata.value_counts().idxmax())
    # Frecuencia del valor que mas se repite
  attributes.append(columndata.value_counts().max())
    # Valor máximo 
  if get_column_type(columndata)!='string' and get_column_type(columndata)!='datetime' :
    print(columnname)
    attributes.append(max(columndata))
    # Valor mínimo
    attributes.append(min(columndata))
  elif get_column_type(columndata)=='string' or get_column_type(columndata)=='datetime' :
    attributes.append('NA')
    attributes.append('NA')
  
 
  return attributes

def get_column_type(columndata): 
  columntype=columndata.dtypes
  columntypef=''
  
  if columntype=='int64':
        columntypef='int'
  if columntype =='float64':
    columntypef='float'
  if columntype=='bool':
    columntypef='boolean'
  if columntype =='object':
    try:
      pd.to_datetime(columndata)
      columntypef='datetime'
    except:

      intsum=0
      stringsum=0
      floatsum=0
      for row in columndata:
        rowtype= type(row)
      # ToDo reemplazar valores originales 
        if isinstance(row,int):
          intsum=intsum + 1
        elif isinstance(row,float):
          floatsum=floatsum + 1
        elif isinstance(row,str):
          stringsum= stringsum+1

      typesdict={'int':intsum,'float':floatsum,'string':stringsum}
      sort_type=sorted(typesdict.items(),key=lambda x:x[1],reverse=True)
      columntypef=sort_type[0][0]
      
  return columntypef
def get_varible_type (datatype):
  if datatype=='int': return 'Discreta'
  if datatype=='float' or datatype=='datetime': return 'Continua'
  if datatype=='boolean': return 'Cualitativa Dicotomica'
  if datatype=='string': return 'Categorica'

def fix_df_type(columnname,columndata,datatype):
    fixed_df[columnname]=np.where(type(df[columnname])==datatype,columndata,0)  
    display(fixed_df)

create_attribute_df()

IDE
corte1
corte2
prom
fallas
fallaP
creditos
IDP
nestud
periodo
año
nsala
nota
p1
p2
p3
p4
p5
p6
p7
p8
p9
p10

   column_names data_type  ... max_value min_value
0           IDE       int  ...      2116      1500
1      programa    string  ...        NA        NA
2           IDG    string  ...        NA        NA
3        corte1     float  ...         5         0
4        corte2     float  ...         5         0
5          prom     float  ...         5         0
6        fallas       int  ...        50         0
7        fallaP     float  ...    294.12         0
8         curso    string  ...        NA        NA
9      creditos       int  ...         3         3
10          IDP       int  ...       225       201
11       nestud       int  ...        24         8
12      periodo       int  ...         2         2
13          año       int  ...      2017      2017
14      jornada    string  ...        NA        NA
15     profesor    string  ...        NA        NA
16   dedicacion    string  ...        NA        NA
17        nsala       int  ...        32         1
18         sala    string  ...        NA        NA
19   horaExamen  datetime  ...        NA        NA
20       inicio  datetime  ...        NA        NA
21        final  datetime  ...        NA        NA
22         nota     float  ...       9.6         0
23           p1     float  ...       0.5         0
24           p2     float  ...       0.5         0
25           p3     float  ...       0.5         0
26           p4     float  ...       0.5         0
27           p5     float  ...       0.5         0
28           p6     float  ...       0.5         0
29           p7     float  ...       0.5         0
30           p8     float  ...       0.5         0
31           p9     float  ...       0.5         0
32          p10     float  ...       0.5         0

[33 rows x 9 columns]