<a href="https://colab.research.google.com/github/zbuitrago/Trabajo-3/blob/main/Preliminar_trabajo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentos de programación para analítica de datos.**
>>**Maestría en Analítica de Datos**

>>**Facultad de Ingeniería y Ciencias Básicas.**

>>**Universidad Central  2020 - II**

>>**Presentación Trabajo 3: Calidad de los datos**


>>**Integrantes:**

> > Zuly Buitrago Castillo

> > Jennifer Prada Urbina,

> > Oscar Ochoa Bueno

>>**Contenido:**
1. Requerimiento
2. Desarrollo e implentacion
  *   Desarrollo lógico
  *   Código implentado
  *   Análisis
3. Código Implementado

#**1 .Requerimiento**
#Trabajo 3 - Calidad de los datos


Se debe realizar el ejercicio grupal de la práctica desarrollada en la semana 11,
correspondiente a Calidad de los datos . A continuación se enumeran las actividades del
ejercicio que se debe realizar tomando como base el archivo examen3.xlsx (adjunto).
1. Hacer una función que crea un dataframe a partir de los atributos de los datos de
entrada examen3.xlsx , los cuales son:
a. Nombre de la columna del dataframe de entrada
b. Tipo de dato (incluido: int, float, string, datetime, boolean)
c. Tipo de variable (Continua, numérica discreta, categórica)
d. Cantidad de valores únicos
e. Cantidad de valores nulos
f. Valor que más se repite
g. Frecuencia del valor que más se repite
h. Valor máximo
i. Valor mínimo
2. Analice el tipo de dato de cada columna para saber si es el correcto. Si no lo es,
determine los valores que generan problemas y clasifique los tipos de problemas
que aparecen. Luego cree una función que corrija los valores erróneos, y finalmente,
verifique que queda el tipo correcto en cada columna. Reporte los datos que cambió.
3. Haga una gráfica de distribución univariada por cada columna. En caso de tener una
variable categórica y si la cantidad de valores únicos es menor a la raíz cuadrada de
la cantidad de registros, haga una gráfica de barras de mayor a menor de la
frecuencia de cada categoría. La gráfica con un máximo de hasta 20 barras y el
resto se agrupan en una sola barra llamada “ otras ”. Analice cada una de las gráficas.
4. Para las variables numéricas, haga un mapa de correlación y analice qué variables
tienen una fuerte relación. Luego, haga un gráfico de distribución bivariada con las
columnas que tienen una fuerte relación y use esto para deducir reglas entre las
variables.
5. Para las variables categóricas y ordinales busque relaciones de jerarquía entre las
clases. Si hay relación entre las categorías pinte un árbol mostrando esta.
Finalmente, deduzca las reglas de relación entre las variables.
6. Haga un análisis de los valores faltantes, determine si se presenta algún problema
de integridad con la ausencia de los datos. Si es así, use las reglas definidas entre
las variables para rellenar con el dato apropiado. Reporte los cambios.
7. Analice la ocurrencia de datos duplicados con todos los atributos y con las
columnas: {IDE, curso, créditos}. Evalúe si es necesario eliminar registros duplicados para mejorar la calidad de los datos, en tal caso proceda a eliminarlos y reporte las
acciones realizadas.
8. Identifique, analice y si es posible corrija valores atípicos encontrados en las
columnas. Reporte los cambios realizados.
9. Teniendo en cuenta el siguiente problema: " Analizar el desempeño de los
estudiantes en el examen y el resto del semestre, relacionado con el profesor, el
grupo, el programa académico, y la jornada " determine e indique qué filas y
columnas no son relevantes para este análisis y se pueden filtrar. Finalmente,
genere el dataframe depurado con la mejor calidad que se pudo obtener para la
tarea que se plantea en este punto.
10. Genere conclusiones acerca de todo el proceso de calidad de datos aplicado a la
base entregada. Haga una evaluación de la calidad del resultado final y haga
recomendaciones para hacer este proceso en el futuro.

#**2 .Desarrollo  e implementación**

## **2.1. Función de Dataframe de atributos**

> Se requiere crea un dataframe que describa los atributos del archivo de entrada **examen3.xlsx**

### **Desarrollo lógico**

1 . Carga de archivo *examen3.xlsx* 

2 . Definir una función que reciba el dataframe de entrada y retorne un dataframe con los atributos especificados

> 2.1. Crear un dataframe. Donde cada columna tomará el nombre de uno de los nueve atributos solicidados en punto 1

> 2.2. Iterar el dataframe de entrada para obtener el nombre de la columna y la data por cada columna

>2.3. Definir una función que reciba el nombre y data por columna y que retorne un arreglo con los atributos evaluados

>>2.3.1. Definir un arreglo para almacenar el resultado por cada atributo evaluado

>>2.3.2. Obtener el nombre de la columna

>>2.3.3. Evaluar el tipo de dato por columna 

>>2.3.4. Evaluar el tipo de variable por columna

>>2.3.5. Determinar valores únicos por columna

>>2.3.6. Determinar valores nulos por columna

>>2.3.7. Determinar el valor que más se repite 

>>2.3.8. Determinar la frecuencia del valor que más se repite

>>2.3.9. Evaluar el valor máximo y mínimo por columna.tener presente el tipo de dato y para las columnas que no son de tipo númerico asignar valor de no aplica -->*NA* 

> 2.4. Asignar data evaluada en el dataframe de atributos a la columna correspondiente de cada valor

>2.5. Retornar dataframe de attributos

1.

###**Código Implementado**

In [1]:
# Librerias 
import pandas as pd
import numpy as np
import datetime
# importar archivo
df = pd.read_excel('examen3.xlsx')

In [2]:
def create_attribute_df(df):
  '''create_attribute_df: función que crea dataframe con atributos de dataframe entrante 
                  Argumentos:
                        df:(Requerido) recibe dataframe  
                         
                  Retorno: 
                        attribute_df: dataframe resultante por cada fila tiene la evaluación de cada atributo especificado a continuación:
                            column_names: nombre de la columna
                            data_type: tipo de dato expresado ( int, float, string, datetime, boolean)
                            variable_type : clasificación de variable en:Continua, numérica discreta, categórica
                            quantity_unique_values:Cantidad de valores únicos
                            quantity_null_values: Cantidad de valores nulos
                            most_repeated_value:Valor que más se repite 
                            frec_most_repeated_value: Frecuencia del valor que más se repite
                            max_value:Valor máximo
                            min_value:Valor mínimo
                         ''' 

  # Crear dataframe con los atributos solicitados 
  attribute_df = pd.DataFrame(columns=['column_names','data_type','variable_type','quantity_unique_values','quantity_null_values','most_repeated_value','frec_most_repeated_value','max_value','min_value'])
  # Recorrer el dataframe por columnas y obtener la data de cada una
  for (columnname,columndata) in df.iteritems():
    # Capturar los valores calculados
    data=get_column_data(columnname,columndata)
    # identificar el siguiente index 
    attribute_df_length=len(attribute_df)
    # asignar datos al ultimo index 
    attribute_df.loc[attribute_df_length]=data
  #display(attribute_df)
  return attribute_df
 
  
  
def get_column_data(columnname,columndata): 
  '''get_column_data: función que crea un arreglo resultado 
                  Argumentos:
                        columnname:(Requerido) recibe el nombre de la columna
                        columndata:(Requerido) recibe los datos de la columna
                         
                  Retorno: 
                        attributes: es un arreglo donde cada posición es el resultado de la evaluación de un atributo, descripción por posición
                            [0]=column_names : nombre de la columna
                            [1]=data_type: tipo de dato expresado ( int, float, string, datetime, boolean)
                            [2]=variable_type : clasificación de variable en:Continua, numérica discreta, categórica
                            [3]=quantity_unique_values:Cantidad de valores únicos
                            [4]=quantity_null_values: Cantidad de valores nulos
                            [5]=most_repeated_value:Valor que más se repite 
                            [6]=frec_most_repeated_value: Frecuencia del valor que más se repite
                            [7]=max_value:Valor máximo
                            [8]=min_value:Valor mínimo
                         ''' 

  # Definir arreglo 
  attributes=[]
  # Capturar nombre de la columna
  attributes.append(columnname)
  # tipo de dato
  attributes.append(get_column_type(columndata))
  # tipo de variable
  attributes.append(get_varible_type(get_column_type(columndata)))
  # Valores unicos
  attributes.append(len(columndata.unique()))
  # Valores nulos
  attributes.append(len(columndata[columndata.isnull()]))
  # Valor que mas se repite
  attributes.append(columndata.value_counts().idxmax())
  # Frecuencia del valor que mas se repite
  attributes.append(columndata.value_counts().max())
  # Valor máximo 
  if get_column_type(columndata)!='string':
    
    attributes.append(max(columndata))
  # Valor mínimo
    attributes.append(min(columndata))
  elif get_column_type(columndata)=='string':
    attributes.append('NA')
    attributes.append('NA')

  return attributes

def get_column_type(columndata): 
  '''get_column_type: función evalua el tipo de dato y lo normaliza 
                  Argumentos:
                        columndata:(Requerido) recibe los datos de la columna                       
                  Retorno: 
                        columntypef: string que especifica el tipo de dato normalizado
                         ''' 
  # Determinar el tipo de dato por columna
  columntype=columndata.dtypes
  columntypef=''
  # Renombrar el tipo de dato 
  if columntype=='int64':
    columntypef='int'
  if columntype =='float64':
    columntypef='float'
  if columntype=='bool':
    columntypef='boolean'
  if columntype =='datetime64[ns]':
    columntypef='datetime'
  if columntype =='object':
    columntypef='string'
  
      
  return columntypef

def get_varible_type (datatype):
  '''get_varible_type: función que retorna el tipo de variable según el tipo de dato de la columna 
                  Argumentos:
                        datatype:(Requerido) recibe el tipo de dato de la columna                       
                  Retorno: 
                        datatype: string que especifica el tipo de variable 
                         ''' 
  # clasificación de tipo de variable 
  if datatype=='int': return 'Discreta'
  if datatype=='float' or datatype=='datetime': return 'Continua'
  if datatype=='boolean': return 'Cualitativa Dicotomica'
  if datatype=='string': return 'Categorica'

### **Análisis**

In [16]:
print('Dataframe de atributos')
display(create_attribute_df(df).head(2))
print("")
print('Se puede observar que desde una lectura inicial del dataframe de entrada es posible evaluar  diferentes atributos')

Dataframe de atributos

  column_names data_type  ... max_value min_value
0          IDE       int  ...      2116      1500
1     programa    string  ...        NA        NA

[2 rows x 9 columns]

Se puede observar que desde una lectura inicial del dataframe de entrada es posible evaluar  diferentes atributos

##2.2. Análisis del dataframe resultante del punto 2.1 y ajuste de data

> Se requiere verificar el dataframe resultante del punto 2.1 y determinar si el tipo de dato por columna es correcto. de no serlo se debe realizar los respectivos ajustes para obtenerlo

### **Desarrollo lógico**

1. Comparar el dataframe de entrada si el tipo de dato concuerda con el resultado del punto 2.1

2. Determinar las columnas con valores que generan problemas  
    * Evaluar el tipo de dato es correcto
    * Deteminar los valores que generan el error
    
3. Aplicar las modificaciones correspondentes para obtener un resultado valido en dataframe del punto 2.1
    * Crear una copia del dataframe de entrada
    * Evaluar el tipo de dato por cada fila en cada columna 
    * Realizar un conteo para determinar la mayoria de datos a que tipo de dato   corresponde
    * Reemplazar los datos errados por un valor valido según el tipo de dato que corresponde a la columna

###**Código Implementado**

In [4]:
def fix_column_data(df): 
  '''fix_column_data: función que modifica el tipo de  dato de las columnas que tienen algún o algunos registros errados;
                        remplazando datos string por 0 en columnas que deben ser int o float y en las columnas string reemplaza
                        los valores númericos por un valor vacio

                  Argumentos:
                        df:(Requerido) dataframe de entrada
                                                
                  Retorno: 
                        fixed_df: copia del dataframe de entrada con algunas columnas modificadas en el tipo de dato de la columna
                        ''' 


  # Copiar el dataframe de entrada
  fixed_df=df.copy()  
  # Iterar dataframe y obtener el nombre de la columna y los datos de cada una
  for (columnname,columndata) in fixed_df.iteritems():
  # Evaluar las todas las columnas que son tipo object
    if columndata.dtypes =='object':
      # Intentar convertir la columna en datetime
      try:
        fixed_df[columnname]=pd.to_datetime(columndata)
        #fixed_df[columnname]=pd.to_timedelta(columndata)
      
      except:
      # Evaluar por cada fila el tipo de dato que se tiene
        intsum=0
        stringsum=0
        floatsum=0
        issuestring,issueint=[],[]
        for row in columndata:
        # Contar la cantidad de datos por cada tipo de dato y crear un arreglo de los datos evaluados 
          if isinstance(row,int):
            intsum=intsum + 1
            issueint.append(row)
          elif isinstance(row,float):
            floatsum=floatsum + 1
            issueint.append(row)
          elif isinstance(row,str):
            stringsum= stringsum+1
            issuestring.append(row)
        # crear un diccionario con el resultado del conteo 
        typesdict={'int':intsum,'float':floatsum,'str':stringsum}
        # Ordenar el diccionario
        sort_type=sorted(typesdict.items(),key=lambda x:x[1],reverse=True)
        # Tomar la primera ubicación del diccionario 
        columntypef=sort_type[0][0]
        # Evaludar por el resultado de la variable anterior por que se reemplaza el valor errado
        if columntypef== 'int' or columntypef== 'float':
          fixed_df.loc[fixed_df[columnname].isin(issuestring), columnname] = 0.0
          fixed_df[columnname] = pd.to_numeric(fixed_df[columnname])

        elif columntypef== 'str':
          fixed_df.loc[fixed_df[columnname].isin(issueint), columnname] = None
          fixed_df[columnname] = fixed_df[columnname]

  return fixed_df

In [5]:
print("Dataframe resultante \n")
display(fix_column_data(df).head(3))

Dataframe resultante

    IDE                programa  IDG  corte1  corte2  ...   p6   p7   p8   p9  p10
0  1521    Ingeniería Ambiental  G11     4.0     2.0  ...  0.0  0.0  0.5  0.5  0.0
1  1572   Ingeniería Industrial  G11     3.0     3.0  ...  0.5  0.0  0.5  0.0  0.5
2  1585  Ingeniería Electórnica  G11     4.5     4.0  ...  0.0  0.5  0.5  0.5  0.5

[3 rows x 33 columns]

### **Análisis**

**Análisis sin editar datos**

In [6]:
# Cargue de dataframe del punto 2.1
attribute_df=create_attribute_df(df)
print("Resultado de los atributos de la columna fallas")
display(attribute_df[attribute_df.column_names=='fallas'])
print("")
# Visualidar valores unicos de la columna fallas 
print('Valores unicos de la columna fallas',df.fallas.unique())
print("")
print("Se evidencia que la columna fallas tiene datos errados para el tipo de columna como lo son: nada,ninguna y no.")
print("Esto nos genera un error al momento de evaluar le tipo de dato de la columna. Además de no evaluar correctamente\n"
      "los atributos de máximo, mínimo,valor que más se repite y su frecuencia.")

Resultado de los atributos de la columna fallas

  column_names data_type  ... max_value min_value
6       fallas    string  ...        NA        NA

[1 rows x 9 columns]

Valores unicos de la columna fallas [0 2 5 3 4 1 8 6 15 19 37 7 50 30 'nada' 'ninguna' 27 12 10 11 32 18 20 26
 'no']

Se evidencia que la columna fallas tiene datos errados para el tipo de columna como lo son: nada,ninguna y no.
Esto nos genera un error al momento de evaluar le tipo de dato de la columna. Además de no evaluar correctamente
los atributos de máximo, mínimo,valor que más se repite y su frecuencia.

In [11]:
print("Resultado de los atributos de la columnas horaExamen,inicio,final")
display(attribute_df[attribute_df.column_names.isin(['horaExamen','inicio','final'])])
#Mirar que datos tienen las columnas horaExamen,inicio,final
print('Valores unicos de la columna horaExamen:\n',df.horaExamen.unique())
print("")
print('Valores unicos de la columna inicio:\n',df.inicio.unique()[:10])
print("")
print('Valores unicos de la columna final:\n',df.final.unique()[:10])
print("")
print("Se evidencia que las columnas horaExamen,inicio,final son de tipo datetime.")
print("Esto nos genera un error al momento de clasificar la variable . Además de no evaluar correctamente\n"
      "los atributos de máximo, mínimo.")

Resultado de los atributos de la columnas horaExamen,inicio,final

   column_names data_type  ...            max_value            min_value
19   horaExamen  datetime  ...  2020-11-16 18:00:00  2020-11-16 09:00:00
20       inicio  datetime  ...  2020-11-16 18:44:00  2020-11-16 09:03:00
21        final  datetime  ...  2020-11-16 19:58:00  2020-11-16 09:28:00

[3 rows x 9 columns]

Valores unicos de la columna horaExamen:
 ['9:00 a.m.' '6:00 p.m.']

Valores unicos de la columna inicio:
 ['09:16:00' '09:14:00' '09:12:00' '09:13:00' '09:06:00' '09:08:00'
 '09:10:00' '09:24:00' '09:45:00' '09:11:00']

Valores unicos de la columna final:
 ['10:31:00' '09:47:00' '09:59:00' '09:39:00' '10:00:00' '10:37:00'
 '10:07:00' '09:53:00' '10:36:00' '10:17:00']

Se evidencia que las columnas horaExamen,inicio,final son de tipo datetime.
Esto nos genera un error al momento de clasificar la variable . Además de no evaluar correctamente
los atributos de máximo, mínimo.

**Análisis de datos modificados**

In [10]:
# Asignar función de cambios de tipo de datos a nuevo dataframe 
fixed_df=fix_column_data(df)
# Evaluar de nuevo la función del punto 2.1
attribute_df=create_attribute_df(fixed_df)
# Evaluar si el tipo de datos se modificaron el daframe de atributos
display(attribute_df[attribute_df.column_names.isin(['fallas','horaExamen','inicio','final'])])
print("En la siguiente tabala se muestra las columnas fallas,horaExamen,inicio,final ya cuentan con el tipo de dato correcto")

   column_names data_type  ...            max_value            min_value
6        fallas       int  ...                   50                    0
19   horaExamen  datetime  ...  2020-11-16 18:00:00  2020-11-16 09:00:00
20       inicio  datetime  ...  2020-11-16 18:44:00  2020-11-16 09:03:00
21        final  datetime  ...  2020-11-16 19:58:00  2020-11-16 09:28:00

[4 rows x 9 columns]

Se evidencia que la columnas fallas,horaExamen,inicio,final ya cuentan con el tipo de dato correcto